.sidebar {
    grid-area: s;
    background: chocolate;
}

.sidebar a {
    text-decoration: none;
}

.colorWhite {
    color: white;
}

.active {
    color: gold;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 10px;
}