.app-wrapper {
  display: grid;
  grid-template-areas:
          "h h"
          "s c";
  grid-template-rows: 70px 1fr;
  grid-template-columns: 2fr 8fr;
  gap: 10px;
}

.app-wrapper-content {
  grid-area: c;
  background: darkcyan;
}